@model List<WeLoveCoffee.Data.EntityModels.Product>;
@{
    ViewData["Title"] = "Manage";
}
<table class="table table-striped table-bordered">
    <thead class="bg-primary font-weight-bold text-center">
        <tr>
            <td>Action</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/Product">Product</a></td>
            <td>Manage all products available actions(Add,Edit,Delete)</td>
        </tr>
        <tr>
            <td><a href="/Roast">Roast</a></td>
            <td>Manage all roasts available actions(Add,Edit,Delete)</td>
        </tr>
        <tr>
            <td><a href="/User">User</a></td>
            <td>Manage all ssers available actions(Add,Edit,Delete)</td>
        </tr>
    </tbody>

</table>
