@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="jumbotron">
    @foreach (var item in User.Claims)
    {
    <div class="border border-dark">
        <p>@item.Type</p>
        <p>@item.Value</p>
    </div>
    }
</div>